[2020-12-03 06:42] IanReid opened #2 "Crash in setup_databases download_uniprot_reference"
I have installed mantis on a compute server running Ubuntu 18.04.1 LTS using the command 'git clone https://github.com/PedroMTQ/mantis.git' . The git HEAD of the installed version is d983816258b6137f5dc27a94977ef0841414b2e4
I have tried three times to run mantis setup_databases. In each attempt the program has aborted before completion with the error message:
Traceback (most recent call last):
  F

[2020-12-03 08:02] PedroMTQ commented on #2
That's strange, I'm looking into this right now and will let you know as soon as possible what's going on.

[2020-12-03 08:41] PedroMTQ commented on #2
@IanReid somehow some of the resources were corrupted when I copied them from the internal repository to the external (github) repository! I replaced these files (go and uniprot resources) and reran the setup on my local machine and everything ran smoothly.
Could you please clone the repository again and try to run setup_databases again?

[2020-12-03 12:14] IanReid commented on #2
Thanks for the quick response!
I have pulled the updates from the repository:
Resources/Gene_Ontology/go.obo.pickle_dict         | Bin 133 -> 7936757 bytes
 Resources/Gene_Ontology/go.obo.pickle_syns         | Bin 132 -> 6650539 bytes
 Resources/Gene_Ontology/go.obo.pickle_terms        | Bin 131 -> 173478 bytes
 .../Uniprot/uniprot-filtered-reviewed_yes.tab.gz   | Bin 133 -> 10223009 bytes
 ...pro

[2020-12-03 17:38] IanReid commented on #2
The setup_databases progressed through the hmm download and splitting phases with apparent success, but then threw another error in extracting NOG metadata.
Error message:
#  Will now extract metadata from NOG!
Unpacking  /mnt/data/disk/opt/bioinformatics/mantis/Resources/NOG_sql.tar.gz
Traceback (most recent call last):
  File "/home/ian_reid/conda/envs/mantis_env/lib/python3.8/shutil.py", line 1

[2020-12-03 17:47] IanReid commented on #2
The 134-byte NOG_sql.tar.gz file appears to be a failed download.
I have downloaded the 167.9 M file from the repository and restarted setup_databases.

[2020-12-03 18:22] PedroMTQ commented on #2
Hello again, apparently `git clone` is not cloning large files added with git lfs! I reproduced the error in my laptop too and figured out the solution would be to either manually download the file (as you did) or to run:
``git lfs install``
``git lfs clone git@github.com:PedroMTQ/mantis.git``

Sorry for the inconvenience, I wasn't aware of this git behavior.
I'll make sure add this to the readme!

[2020-12-03 19:19] IanReid commented on #2
Both setup_databases and check_installation have now completed successfully, so I will close this issue.
Thanks for your help.

[2020-12-03 19:19] #2 closed, assigned to nobody

[2020-12-10 11:15] Cantalapiedra opened #3 "Not able to make work the "master" branch"
Hi,

I am trying to setup the software.
When I clone the repo from the master branch I got a Resouces/NOG_sql.tar.gz which is a text file with the next content:

version https://git-lfs.github.com/spec/v1
oid sha256:cecd31773a7cc729723d298b158d6cdc98187a143de2255095e73cb81f1ea394
size 176132348

When I use the setup or the check command, I got errors, apparently because of this:

raceback (most re

[2020-12-10 11:58] PedroMTQ commented on #3
Hello Carlos,
Another user had the same issue. This is an issue with git not correctly downloading large files (NOG_sql.tar.gz). I'm now releasing a v1.01 where this issue (among a few other minor improvements) is addressed.
Could you please reclone the repo and try again?

[2020-12-10 16:57] Cantalapiedra commented on #3
Hi @PedroMTQ ,

OK, I already cloned it and will try again.

I am struggling a bit, because in the server I am trying to install Mantis because it cannot download the FTP databases (likely due to port 21 being closed in the server, not sure). Therefore, I yet have to clone and install only the FTP databases in a local computer, then clone and install the NOG databases in the server (I have no spac

[2020-12-10 22:51] PedroMTQ commented on #3
Hi again,
Depending on the analysis you are planning to do, I might have a few suggestions.
But the first thing I can think of is: if you are not using taxonomically classified samples, we could restrict the reference datasets to all the default ones besides the NOGT ( taxa specific eggNOG).
That should be feasible to download on your local computer and then transfer to the server.
To do so please

[2020-12-11 09:41] Cantalapiedra commented on #3
Hi @PedroMTQ ,

My plan was to use the taxonomy databases also.
The server is downloading the NOGT and NOGG databases fine, I think. The problem is with the ones from FTP servers (pfam, kofam, and tigrfam).
I was actually trying something similar to what you advice above, but still using snapshot afa47e3.

Locally, I ran the setup_databases with config like:

NOGT_hmm_folder=NA
NOGG_hmm_folder=NA

[2020-12-11 11:23] PedroMTQ commented on #3
Ah, I see. yes that way should work fine!
Actually, by mistake I introduced a bug in file concatenation (used during database setup) in that version. Sorry for the trouble.
So, could you pull the new repository locally and in the server and then restart the setup?

[2020-12-11 16:19] Cantalapiedra commented on #3
Hi @PedroMTQ ,

what do you mean with restarting the setup? Should I remove any files from the previous setup first? or just pull followed by setup_databases in both local and server?

Thank you again.

[2020-12-11 16:40] PedroMTQ commented on #3
Hello,
I mean removing the old files, pulling from the repo or just cloning again and restarting the setup.
Hopefully it won't take too long! Sorry for the trouble!

[2020-12-11 16:48] Cantalapiedra commented on #3
ok! No problem! Thank you

[2020-12-11 17:03] PedroMTQ commented on #3
Great, let me know how it goes!

[2020-12-12 14:43] Cantalapiedra commented on #3
Hi,

so I created a third repo clone, to run setup_databases without databases (just in case), and then linked the databases from the server setup (NOGG, NOGT) and to the local setup (kofam, pfam, tigrfam).

Everything seems to be running fine now.

Thank you very much.

Best,
Carlos

[2020-12-12 14:43] #3 closed, assigned to PedroMTQ

[2021-04-23 11:19] PedroMTQ opened #4 "Add Diamond support for non-HMMs based homology search"

[2021-04-23 11:29] PedroMTQ opened #5 "Custom HMM names that overlap with the default references are causing issues"
E.g., if using a tigrfam custom DB then if the custom db has `tigrfam` in its name then issues will arise:
       elif 'tigrfam' in hmm_file:
            self.get_link_tigrfam(dict_hmms)
            self.is_essential(dict_hmms)

[2021-04-23 11:30] PedroMTQ opened #6 "[QoL] Allow for continuation of runs after crash"
Check for intermediate outputs (output,integrated) and start from there

[2021-04-23 11:30] PedroMTQ opened #7 "[QoL] add other output formats"

[2021-04-24 18:21] PedroMTQ opened #8 "update list of essential genes"
http://www.essentialgene.org/

[2021-04-29 06:06] susheelbhanu opened #9 "TaxID requirements for MANTIS"
Hey @PedroMTQ,

I'm running MANTIS like so
`python run_mantis -t {input.TSV} --output_folder $(dirname {output}) --mantis_config {input.config}`

and ran into the following issue
[code]

Can one provide GTDBtk data or is this pulled from NCBI? It looked like it failed due to connection issues. My `TSV` files like so.
[code]

Thanks for your help!

[2021-04-29 06:11] susheelbhanu opened #10 "Core allocation in MANTIS"
Hey @PedroMTQ,

I'm running MANTIS via `snakemake` with the following command: `snakemake -s Snakefile --use-conda --cores 64 -rp`

The log file, however, states the `112 cores were allocated`
[code]

Is there a flag to `limit the number of cores it uses?

Thank you!

[2021-04-29 06:15] PedroMTQ commented on #9
Hey @susheelbhanu,
The TSV file format is incorrect! It should be something like this:
https://github.com/PedroMTQ/mantis/blob/master/tests/test_file.tsv

So, file name, followed by file path and then taxonomy.
Keep in mind we don't currently use GTDBtk, but NCBI taxon IDs, so that's why Mantis could not find the taxonomic lineage.

Regards,
Pedro

[2021-04-29 06:17] susheelbhanu commented on #9
Is it necessary that one provide taxIDs always? Can it run without it?

[2021-04-29 06:17] PedroMTQ commented on #10
Hello @susheelbhanu
Yes, you can use `-c` for the number of cores. For further details on execution parameters see https://github.com/PedroMTQ/mantis/wiki/Functionalities#annotate-one-sample

Regards,
Pedro

[2021-04-29 06:17] #10 closed, assigned to nobody

[2021-04-29 06:21] PedroMTQ commented on #9
Yes, it can run without it. Doing so will not use all of the taxa-specific HMMs.
This really depends on your data though, if you know your MAGs are well characterized/not novel then using taxa-specific HMMs **generally**(but not guaranteed) provides better results. Novel MAGs won't really benefit from them since the reference data is most likely of poor quality anyway.

Regards,
Pedro

[2021-04-29 06:36] susheelbhanu commented on #9
Excellent - thank you!

[2021-04-29 06:36] #9 closed, assigned to nobody

[2021-04-30 09:13] PedroMTQ opened #11 "Add translation of CDS"
Allow for the input of CDS besides protein sequences

[2021-05-05 07:02] PedroMTQ commented on #4
Refactoring under way.
Diamond has been added, need to check how to scale e-value so that hmmer and diamond's evalues can be compared

[2021-05-05 12:12] PedroMTQ commented on #8
Use http://www.essentialgene.org/ with diamond to extract essential genes

[2021-05-05 12:52] xiekunwhy commented on #11
Hi,

Any progress? I want to use mantis to annotate a non-model species transciptome sequences.

Best,
Kun

[2021-05-05 13:40] PedroMTQ commented on #11
Currently working on it, it should be ready within this/next week.

Regards,
Pedro

[2021-05-05 15:09] xiekunwhy opened #12 "Too many works activated when setup_databases"
Hi,

There are too many works activated when doing setup_databases even -c 1.

python  mantis/  setup_databases -c 1
ps xf|grep python|wc -l
131

Is it possible to limit the jobs number when doing setup_databases ?

Best,
Kun

[2021-05-05 15:29] PedroMTQ commented on #12
Hey @xiekunwhy
You're right, -c currently only works when running the homology search. Please note that the workload during setup is not very heavy (mostly downloading).
In any case, in the next update I will add the possibility to use -c when running setup_databases. Please wait until next week when I will also be releasing the translation of CDS feature.

Regards,
Pedro

[2021-05-05 15:42] xiekunwhy commented on #12
Hi @PedroMTQ

Glad to hear that and hope it coming soon.

Best,
Kun

[2021-05-05 16:38] PedroMTQ commented on #4
scaling with diamond should be to number of residues, added dbsize 1, now need to scale to number of residues (in original and temp fastas)

[2021-05-06 16:10] xiekunwhy commented on #12
It seems that mantis download hmms.tar files from eggnog database, but hmms.tar files are much larger than hmms.tar.gz files, why don't download hmms.tar.gz files instead of hmms.tar files to save time?

[2021-05-06 16:15] PedroMTQ commented on #12
Thank you for pointing that out!
I hadn't noticed tar.gz were available, I will change it in the next update.

Regards,
Pedro

[2021-05-06 16:26] PedroMTQ commented on #4
added diamond support

[2021-05-06 16:26] #4 closed, assigned to PedroMTQ

[2021-05-08 12:45] xiekunwhy commented on #12
Hi @PedroMTQ

Sorry to trouble you again, setup_databases still running now (and ~30 zombie jobs produced, all are [python] defunct), so I can not test the pipeline normally. And I am looking for a tool to do GO annotation to repalce blast2go these days, so I just want to know if the the results of mantis containing GO annotation results?

Best,
Kun

[2021-05-08 12:54] PedroMTQ commented on #12
Hi @xiekunwhy,

Yes, GO IDs are outputted; these originally come from the Pfam and eggNOG database.
If you are only interested in the GO IDs perhaps it would be better to only use the Pfam database with Mantis.  To do that edit the MANTIS.config file as described here https://github.com/PedroMTQ/mantis/wiki/Configuration#setting-your-own-paths
In your case, you'd set all other reference paths to N

[2021-05-08 12:57] PedroMTQ opened #13 "check zombie jobs ([python] defunct) during multiprocessing"

[2021-05-08 12:59] PedroMTQ commented on #11
This is now implemented, Mantis will now check sample type (RNA,DNA, or protein) and translate accordingly. Keep in mind this is a simple translation so CDS should still be provided if translating.

This will be released in the next update.

[2021-05-08 12:59] #11 closed, assigned to PedroMTQ

[2021-05-08 13:54] xiekunwhy commented on #12
Thank you for your reply. And I will try it.

Another question is that will diamond blastx supported in the next update? To get accuracy CDS and protein sequences is very difficult some times when dealing with non-model species transcriptomes.

Best,
Kun

[2021-05-08 14:47] PedroMTQ commented on #12
I have added Diamond, but only the blastp option which does the following: "Align protein query sequences against a protein reference database."
I have also added translation of CDS, which I believe to be same concept used by Diamond's blastx.
However, whether one uses Mantis's translation or Diamond's will require the same input - a fasta with CDS. These (with Mantis or Diamond) are then translat

[2021-05-08 15:31] xiekunwhy commented on #12
Hi,

"do you mean gene prediction is difficult (and thus obtain the CDS)", yes, something like that (not so exactly). I am now using denovo RNA-seq to study  a dosen of medicinal plants. As we all know that there are many non-coding sequences in assembled transcripts, so I need to find coding regions first before using mantis, I am trying to use TransDecoder to do that, I think I can skip this ste

[2021-05-10 11:15] PedroMTQ commented on #12
Hi @xiekunwhy,

I checked Diamond's paper and they do frameshift alignments (predictions forward and reverse in the 3 frames).
While there may be use-cases for this methodology, we would prefer to limit the introduction of noise (i.e., homology search for sequences which may not correspond to CDS), since this can be avoided by using gene prediction tools instead. Therefore, there's no plan to impl

[2021-05-10 14:59] xiekunwhy commented on #12
Hi @PedroMTQ ,

Thank you for letting me know that. When new version is released, I will discuss with my colleagues and cooperators to see that if we can make some modifications to accept diamond blastx mehtod or results and keep main features of mantis (i.e., text mining) and use it at our own risk after well testing.

For denovo RNA-seq assemblies, CDS predicting tools do not work so well some t

[2021-05-10 15:16] PedroMTQ commented on #12
Hi @xiekunwhy
I think an easy solution would be for you to generate all frames as samples, you could then input them in Mantis and run it normally. Keep in mind that since your transcript contains UTRs, homology search will be more noisy. You could then converge the annotations yourself as an additional downstream process.
Keep in mind that Diamond, in my local version, is currently only being use

[2021-05-11 06:54] xiekunwhy commented on #12
Hi @PedroMTQ ,

Good suggestions and I will try it.
Many thanks.

Best,
Kun

[2021-05-13 07:43] PedroMTQ commented on #12
Version 1.1 has been released. Translation has been added and the use of cores during setup is now allowed.

[2021-05-19 10:07] PedroMTQ opened #14 "operon prediction"
Add putative operon prediction by coordinate and functional clustering

[2021-05-20 14:24] xiekunwhy opened #15 "merge_hmm_folder not work normally."
Hi,

setup_databases still need to run long long time. So I was downloaded eggnog hmm files and tried to use merge_hmm_folder to merge hmm files, but it didn't worked normally, do you why?
Here are the hmm files
ls 548681/|head
4R16V.hmm
4R16W.hmm
4R16X.hmm
4R16Y.hmm
4R16Z.hmm
4R170.hmm
4R171.hmm
4R172.hmm
4R173.hmm
4R174.hmm
python /state/partition1/WORK/Bio/Project/xiek/software/mantis/ merge_hm

[2021-05-20 14:33] PedroMTQ commented on #15
Hi Kun,

I will check the merge_hmm_folder function but it seems to be a permission issue? Do you have permission to write on the particular folder?
Also why are you running merge_hmm_folder for the eggnog hmms? Why not setup_databases?
When you ran merge_hmm_folder did you try using -t with the absolute path?

[2021-05-20 14:47] xiekunwhy commented on #15
Hi @PedroMTQ

Yes, I have permission to write on the folder where 548681 in.

There are still many zombie jobs, and setup_databases work very slow.

I have tried python /state/partition1/WORK/Bio/Project/xiek/software/mantis/ merge_hmm_folder -t /state/partition1/WORK/Bio/Project/xiek/pipe/annot/eggnog/hmms_merge/548681/548681, but got the same error.

Best,
Kun

[2021-05-20 15:17] PedroMTQ commented on #15
Hello,
How long has setup_databases been running for? I ran it several times and it took 2-3 days to setup with all the data (if using the eggNOG database). I could not replicate the zombie processes issue on my end, as all spawned processes seem to terminate once the setup queue is empty...
Could you please check the mantis/setup_databases/Mantis.out file? It should tell you which step it is curr

[2021-05-20 15:21] PedroMTQ commented on #15
Also, how many cores are you using for the setup? I generally run it with 20ish cores for the aforementioned timeframe

[2021-05-21 01:53] xiekunwhy commented on #15
Hi @PedroMTQ

16 cores I was used, and setup_databases is running 4 days now. I need to tell you that the national firewall in China is difference from other countries, some websites (including ncbi and eggnog) can not accessed in the default way. That's why I need to dowload them myself.

I think there is aserious bug in printing mantis/setup_databases/Mantis.out when the network is abnormal, the

[2021-05-21 09:37] PedroMTQ commented on #15
Hello,

This might complicate things. Perhaps you could share how you did it so other users can replicate your solution if faced with the same issue (if it's nothing major I could maybe also add a workaround)?
Yes, it seems like it's stuck downloading NCBI, could you kill it now? Did it download anything into the NCBI hmm folder?
Please update your repo and try again, I've added a new checking sys

[2021-05-21 10:09] xiekunwhy commented on #15
Hi

Things almost done. I was killed the jobs and do it follow these steps
1) Delete mantis/References/NCBI folder;
2) Download eggnog hmm.tar.gz and annotations.tsv.gz files myself and then copy them to the correspoding folders (mantis/References/NOG/*/);
3) Run setup_databases again, hmm and taxa information files from NCBI were downloaded normally this time. And mantis didn't need to download f

[2021-05-21 10:17] PedroMTQ commented on #15
Hello,
I'm glad to hear you are almost there.
That is not a bug, the **taxa_annotations.tsv** is the file downloaded from eggNOG but it does not contain all the necessary metadata. So we compiled and distribute a **taxa_sql_annotations.tsv** which contains all the metadata from each sequence in the respective HMM.
The **taxa_sql_annotations.tsv** are unpacked during setup_databases.

Regards,
Pedr

[2021-05-22 01:56] xiekunwhy commented on #15
Hi,

I see, setup_databases finished normally.

An other question, I can't find any document about -ar acceptable_range option when running python mantis/ run_mantis -h, also not found in wiki page, -ar is a new option?

Best,
Kun

[2021-05-22 02:16] xiekunwhy opened #16 "We still need to connect eggnog website when run_mantis?"
Hi @PedroMTQ ,

We still need to connect eggnog website when run_mantis ?

cat nohup.out
Executing command:
 /state/partition1/WORK/Bio/Project/xiek/software/mantis/ run_mantis -t /state/partition1/WORK/Bio/Project/xiek/pipe/divtime/bamboo/ref/annot/bbu.blast/all.fa -o bamboo -mc /state/partition1/WORK/Bio/Project/xiek/pipe/annot/mantis/MANTIS.config
------------------------------------------
  Se

[2021-05-22 13:58] PedroMTQ commented on #15
Hello,
Glad you managed.
acceptable_range is a legacy variable, I forgot to remove it from the wiki!

Regards,
Pedro

[2021-05-22 13:58] #15 closed, assigned to nobody

[2021-05-22 14:09] PedroMTQ commented on #16
Hello,
Indeed, during the installation check, Mantis checks eggNOG's webpage to see if all HMMs are available, I've now changed the implementation so that if no internet connection is done, then we simply look into the directory.
This should solve your problem given your current connection limitations.
Please update your local repo.

Regards,
Pedro

[2021-05-22 14:09] #16 closed, assigned to nobody

[2021-05-22 14:13] PedroMTQ commented on #12
@xiekunwhy could you please confirm whether you still had zombie processes when you successfully ran setup_databases? I have opened an issue but can't replicate the issue. I think the zombie processes were just the NCBI infinite loop but I'm not entirely sure.

[2021-05-28 06:32] xiekunwhy opened #17 "Source of pfam metadata"
Hi,

Sorry to trouble you again.

And I want to know where the source of pfam metadata come from, it seems that not all GO terms in the metadata.tsv match those in http://current.geneontology.org/ontology/external2go/pfam2go file.

Best,
Kun

[2021-05-28 06:50] PedroMTQ commented on #17
Hello @xiekunwhy,

You are absolutely correct, I missed the fact that a Pfam accession can show up more than once in that list. I've now fixed it.
To apply the fix please set all references to NA except Pfam in the config file, then delete the current Pfam metadata.tsv and run `setup_databases`. After this is complete revert the config to its previous state. The metadata.tsv should now be fixed.

[2021-05-28 07:55] xiekunwhy commented on #17
Hi,

Things OK now.

A suggestion, users can do annotation more efficiently if mantis can accept hmmsearch results as input when there are huge query sequences. Because hmmsearch can be run independently using multiple computer nodes on a cluster. Like eggnog-mapper does (https://github.com/eggnogdb/eggnog-mapper/wiki/eggNOG-mapper-v2.1.2#Setting_up_large_annotation_jobs).

Best,
Kun

[2021-05-28 08:18] PedroMTQ commented on #17
Hi @xiekunwhy
Indeed, interaction between multiple physical computer could be of benefit. We decided not to implement something like the aforementioned method as it would require some significant changes in Mantis' architecture. But this is something we may consider adding further down the line.
In the meantime the user can still split their sample and run multiple Mantis' instances instead and th

[2021-05-28 08:18] #17 closed, assigned to nobody

[2021-05-28 08:20] PedroMTQ opened #18 "add MPI"
Allow use of multiple physical computers and implement communication of processes within Mantis
Perhaps we could spawn workers in other physical nodes and then collect data in the initial physical node?

[2021-05-28 08:20] #13 closed, assigned to PedroMTQ

[2021-05-28 08:20] #12 closed, assigned to nobody

[2021-05-28 16:10] xiekunwhy opened #19 "Will * in protein sequence affect results?"
Hi,

I use six-frame translated sequences as input. But I found that many * symbl in translated sequences, will these * affect results?
HMMER doesn't particularly like * characters according to https://github.com/EddyRivasLab/hmmer/issues/205.

Best,
Kun

Many translated sequences like followings
[unigene_faa.txt](https://github.com/PedroMTQ/mantis/files/6562049/unigene_faa.txt)

[2021-05-28 16:16] PedroMTQ commented on #19
Hi,
I didn't implement any special rule to deal with *, so I would probably remove the * as suggested by HMMER's developer.

Regards,
Pedro

[2021-05-31 11:58] #19 closed, assigned to nobody

[2021-06-01 18:03] xiekunwhy opened #20 "TIGRFAMs source"
Hi,

I found that the latest TIGRFAMs versions is hosted in ncbi genome database, is the mantis pipeline use this latest version https://www.ncbi.nlm.nih.gov/genome/annotation_prok/tigrfams/ ?

Best,
Kun

[2021-06-01 18:12] PedroMTQ commented on #20
Hello @xiekunwhy,
It currently uses the TIGRfams from ftp://ftp.tigr.org/pub/data/TIGRFAMs/TIGRFAMs_15.0_HMM.tar.gz
But I'll make sure to update to the latest version. I was not aware NCBI currently hosts them.
Thanks for letting me know.

Regards,
Pedro

[2021-06-02 06:40] PedroMTQ commented on #20
Hello @xiekunwhy
Just checked this. Mantis already uses the data from the link you sent since it uses NCBI's HMMs (which contain TIGRfams).
As also mentioned in the same website, TIGRfams last update was on the 16th of September, 2014 (v15.0), which Mantis currently uses.

In any event, since using both sources is redundant when it comes to TIGRfam HMMs, in the future, I might remove TIGRfam from

[2021-06-02 06:40] #20 closed, assigned to nobody

[2021-06-02 06:42] PedroMTQ opened #21 "add go links to NPFM tigrfams"

[2021-06-04 08:29] PedroMTQ commented on #21
done. will remove base tigrfam reference

[2021-06-04 08:29] #21 closed, assigned to PedroMTQ

[2021-06-08 14:08] PedroMTQ opened #22 "Improve chunk size estimate"
improve estimate_chunk_size , especially when annotating multiple samples

[2021-06-16 11:55] alxsimon opened #23 "Database building UnboundLocalError: local variable 'main_tile' referenced before assignment"
Hi, when building the database there is this error during the process (`python mantis setup_databases`).
It does not kill the job as this is still running, but it seems it will have an impact.

[code]

[2021-06-16 16:04] PedroMTQ commented on #23
Hi @alxsimon ,

KEGG recently changed their website so KEGG map lineage descriptions could no longer be scraped as before. Since they may change this again in the future I have removed this particular feature of the kofam metadata generation.

I've updated the repo with this fix (and a few other minor changes), please let me know if you run into any issues!

Regards,
Pedro

[2021-06-16 16:13] PedroMTQ commented on #22
done, changed it so it takes into account count of seqs in all samples instead of being sample specific

[2021-06-16 16:13] #22 closed, assigned to PedroMTQ

[2021-06-16 19:08] alxsimon commented on #23
Great, thanks for the quick fix Pedro!
Best regards,
Alexis

[2021-06-17 10:46] Lcornet opened #24 "Pfam issue download"
I have an error during the database setup:

Cloning into '/media/vol2/home/galaxy/mantis/Resources/UniFunc'...
Process Process-3:
Traceback (most recent call last):
  File "/media/vol2/home/galaxy/miniconda/envs/mantis_env/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/media/vol2/home/galaxy/miniconda/envs/mantis_env/lib/python3.8/multiprocessing/process

[2021-06-17 11:03] PedroMTQ commented on #24
Hello @Lcornet
That is a strange bug, it might be that you were not able to download the Pfam-A.hmm.gz file.
I have added a quick fix to check whether the file exists, hopefully when you launch it again you will manage to download the file correctly.

Let me know if you run into any issues.
Regards,
Pedro

[2021-06-17 18:13] Lcornet commented on #24
It works for pfams now, thanks

[2021-06-17 18:13] Lcornet commented on #24
I have a new error:

Traceback (most recent call last):
  File "/media/vol2/home/galaxy/miniconda/envs/mantis_env/lib/python3.8/site-packages/urllib3/connectionpool.py", line 670, in urlopen
    httplib_response = self._make_request(
  File "/media/vol2/home/galaxy/miniconda/envs/mantis_env/lib/python3.8/site-packages/urllib3/connectionpool.py", line 381, in _make_request
    self._validate_conn(c

[2021-06-17 18:13] Lcornet commented on #24
How can I fix this ?

[2021-06-18 06:51] PedroMTQ commented on #24
Hello @Lcornet
It seems you have some connection constraints in your current system, are there any restrictions in place?
The error you show is not related to Mantis, but to requests, a package that can be used to access websites.
Could you perhaps try to run this small snippet to check whether you can properly use requests?
[code]
I have tested it locally and it runs fine on my system, you should

[2021-06-18 13:03] Lcornet commented on #24
I was on a centos7 and it's difficult to update thing.

So I try to install it on our centos8 cluster and I got this error:

Cloning into '/scratch/users/l/c/lcornet/mantis/Resources/UniFunc'...
fatal: unable to access 'https://github.com/PedroMTQ/UniFunc.git/': Could not resolve host: github.com
Traceback (most recent call last):
  File "mantis/source/MANTIS_NLP.py", line 9, in <module>
    from

[2021-06-18 13:18] PedroMTQ commented on #24
Hi @Lcornet
This again seems to be some issue with your configuration, this time regarding git...
You could try to manually clone the repo, just place the UniFunc folder in ```Mantis/Resources/```

[2021-06-18 17:28] Lcornet commented on #24
Hi Pedro,

I solved the problems of git configuration and pip dependencies.
I run the setup database but I still have a problem. Mantis run but without writing anything.
[code]
This is the last message that mantis gave me since the last four hours. Is it normal ?

Thanks

[2021-06-18 17:51] PedroMTQ commented on #24
Hello @Lcornet ,
This is the output in the Mantis.out file correct?
What do you mean that mantis is running without writing anything?  eggNOG download and unpacking does take a while since it's more than 1 TB of data. You could maybe check whether any of the reference files are being changed:
``` ls -lh /media/vol2/home/galaxy/mantis/References/NOG/*/*```

The higher taxons are especially comprehe

[2021-06-18 18:41] Lcornet commented on #24
This is the output of setup_databases/Mantis.out:

#  Downloading and unzipping TCDB sequences
Not downloading from http://www.tcdb.org/public/tcdb since file was already found!
/media/vol2/home/galaxy/mantis/Resources/Diamond/diamond: /lib64/libc.so.6: version `GLIBC_2.17' not found (required by /media/vol2/home/galaxy/mantis/Resources/Diamond/diamond)
/media/vol2/home/galaxy/mantis/Resources/Dia

[2021-06-18 18:42] Lcornet commented on #24
I should be able to solve  /lib64/libc.so.6 problem, is it needed for the setup_db process ?

Thanks,
Luc

[2021-06-19 05:54] PedroMTQ commented on #24
Hey @Lcornet

Yes, you'd need to solve the dependency issue in order to proceed with the setup. I think Diamond requires GLIBC_2.14 in order to run, since we are using Diamond to compile the TCDB databases, the Mantis' setup_databases process is failing on that step.

Regards,
Pedro

[2021-06-22 06:56] #23 closed, assigned to PedroMTQ

[2021-06-22 06:56] PedroMTQ commented on #24
Has this been solved? Will close issue soon

[2021-06-24 09:26] PedroMTQ opened #25 "add -sc to setup_databases and imports to remove unifunc use"

[2021-06-24 12:38] #24 closed, assigned to nobody

[2021-06-29 19:01] Lcornet commented on #24
Yes It has been solved. Three different problem. The main one, about GLIBC_2.14, was solved by changing the OS. CentOS 7 was too old for the compiled version of Diamond. It works on Cent OS 8.

[2021-06-29 19:14] Lcornet opened #26 "expected string or bytes-like object"
Dear Pedro

I have an error while running mantis.
This happens when a run mantis in a slurm job. From the terminal, it works but not in a slurm job.

Executing command:
 mantis run_mantis -t GC_00001818_OG.fasta -o test
------------------------------------------
#  Setting up Mantis!
------------------------------------------
#  Reading config file and setting up paths
User configuration:
--------

[2021-06-30 07:02] PedroMTQ opened #27 "finish setting up NOG with diamond"

[2021-06-30 07:08] PedroMTQ commented on #26
Hello @Lcornet

Yes, usually Mantis checks which eggNOG HMMs are available in the eggNOG webpage. But no matter, now it will check the webpage, and , if not connection is established, it will only check for the HMMs locally.
I've updated the repo with this small update so please update your copy of Mantis as well.

Let me know if you run into any issues.

Regards,
Pedro

[2021-07-05 17:06] PedroMTQ commented on #26
Closing since there have been no updates from OP.

[2021-07-05 17:06] #26 closed, assigned to nobody

[2021-08-18 12:40] mhyleung opened #28 "Database setup error"
Dear all

We have been trying to set up the Mantis database, but we have been encountering the following errors:

[code]

I am not entire sure why some of the files are missing in these NOGG/NOGT subdirectories. If anyone can point me in the right direction that would be great! Thanks

Regards

Marc

[2021-08-18 12:56] PedroMTQ commented on #28
Hello Marc,

Could you please let me know which version of Mantis you are currently using? The latest release no longer uses the NOGG or NOGT folder structure.
In general, the NOG folders (e.g.,`/disk/rdisk08/zhiyshen/zhiyshen/tools/mantis/mantis/hmm/NOGT/2/`) should contain:
![image](https://user-images.githubusercontent.com/22548082/129901642-577b6e0c-8f2e-425d-ba60-d82efeacabf7.png)

Could you

[2021-08-19 07:16] mhyleung commented on #28
Hi Pedro thanks for the quick response.

We are using version 1.1, and we have about 700GB of files on the database, but I have a feeling that not all of the files have been downloaded successfully, and we do not know how much we are missing.

Would you recommend us starting the download again, and use the --chunk-size option to break the downloads into smaller bits?

Thanks

Marc

[2021-08-19 07:30] PedroMTQ commented on #28
Hi Marc,
Please use v1.1.1 as it includes some structure changes.
Yes, I believe part of the database is missing, my local copy for the NOG database is around 3TB.
As you said, you should restart the download of the NOG database, but all others seem fine. To do that you can run `setup_databases` again; I would probably recommend you remove your old NOG folder though, just to make sure everything i

[2021-09-07 01:12] mhyleung commented on #28
Hi Pedro

My colleague has tried to set up v1.1.1, and tried downloading the databases again. He encountered the following errors:

[code]

Thank you

Regards

Marcus

[2021-09-07 07:48] PedroMTQ commented on #28
Dear Marcus,

It seems you have two unrelated errors, from what I can see the first one is regarding kofam metadata. I've now included a fix for this bug.
The second error seems to be an issue downloading the eggNOG database, another user had a similar [issue](https://github.com/PedroMTQ/mantis/issues/15).

Please try the new release 1.2, it should address the first error. Regarding the second err

[2021-09-08 10:32] mhyleung commented on #28
Hi Pedro

Thank you for your email. my colleague has updated to v1.2 and attached the log file for the database download step. Thank you for your help.

Marcus
[nohup.txt](https://github.com/PedroMTQ/mantis/files/7128128/nohup.txt)

[2021-09-08 12:19] PedroMTQ commented on #28
Hello Marcus,

Thank you for the log file. It seems the link I previously used to download the TIGRfams data is no longer available. However this is not an issue as these HMMs are already contained within the NCBI HMMs. I've published release 1.2.1 with this bug fix so please download it.

There is also an issue with the eggNOG HMMs download, unfortunately this seems to be beyond my control. It se

[2021-09-30 11:40] PedroMTQ commented on #28
@mhyleung  I'm closing this issue. Please re-open if it has not been solved.

Regards,
Pedro

[2021-09-30 11:40] #28 closed, assigned to PedroMTQ

[2021-09-30 11:42] PedroMTQ opened #29 "Add peptide annotation"
As pointed out by @hbckleikamp Diamond needs to be setup differently in order to annotate peptides.
See https://github.com/bbuchfink/diamond/discussions/469 for details from author.

[2021-10-04 14:45] Mass23 opened #30 "GFF output for the annotation"
Dear Pedro,

I was wondering if there was a possibility to output the results in a GFF instead of the .tsv files for the consensus annotation?

Best regards,

Massimo

[2021-10-04 14:50] PedroMTQ commented on #30
Hello Massimo,
Yes sure. I'll be somewhat busy this week but I'll try to work on it and add this option next week. I will keep you posted.

Regards,
Pedro

[2021-10-07 07:30] Mass23 commented on #30
Dear Pedro,

Thank you very much! Let me know if I can be of any help to code/test it!

Best,

Massimo

[2021-10-12 15:34] PedroMTQ commented on #30
Hello Massimo,

I'm done adding the GFF output (`-gff` when running Mantis).
output verified with: http://genometools.org/cgi-bin/gff3validator.cgi
output formatted according to gff v3: https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md

I tested this a few times so it should work fine but please let me know if you run into any issues.

Regards,
Pedro

[2021-10-18 09:26] #30 closed, assigned to PedroMTQ

[2021-11-15 09:54] iquasere opened #31 "Large reference databases"
Greetings!

I attempted to install mantis on my system, following these commands:
[code]
however, my disk ran out of space after downloading 500 Gb! How large are the reference databases of mantis?

[2021-11-15 09:58] PedroMTQ commented on #31
Hello João,

The NOG reference is quite large (2-3TBs), so you probably shouldn't use it on your local computer. In any case, annotation quality is still pretty high even when not using NOG.
The other databases are  in total 100-200 GBs so it should be manageable to run locally.

To remove the NOG reference just edit the MANTIS.config file and change the line:
`#nog_ref_folder=`
to
`nog_ref_folder

[2021-11-15 11:43] iquasere commented on #31
Thanks for the quick answer! Testing that out it still downloads the NOG references, I stopped it at 351 Gb, with lots of
[code]

[2021-11-15 12:26] PedroMTQ commented on #31
I just tested this with the current release and it seems to work fine. Which version are you using?
Could you please show me your MANTIS.config file?
Could you also run `check_installation` and send me output?

Regards,
Pedro

[2021-11-15 14:00] iquasere commented on #31
Couldn't find how to check version of mantis, but the ```git clone``` was made today, so most likely ```1.2.3```.
Contents of ```MANTIS.config```:
[code]
Output of ```python mantis check_installation```:
[code]

[2021-11-15 14:10] PedroMTQ commented on #31
Hello,

You forgot to uncomment `#nog_ref_folder=NA`.
it should be : `nog_ref_folder=NA`, otherwise Mantis will just skip this line.
That should fix the issue, please let me know if you run into any other issues.

Regards,
Pedro

[2021-11-15 16:13] iquasere commented on #31
That did the trick, thank you very much!

[2021-11-15 16:13] #31 closed, assigned to nobody

[2021-11-25 15:18] mhyleung opened #32 "'set' object has no attribute 'append' error"
Dear all

I first performed the run_test option of mantis and it worked fine. Then I set up `python mantis run_mantis` with `test_sample.faa` and it also worked fine. However, when I tried to run my own test samples (also .faa) of around 30,000 contig amino acid sequences, it gave me the following error:

[code]

I notice two things that are different between my .faa file and the test_sample.faa:

[2021-11-25 18:43] PedroMTQ commented on #32
Hello @mhyleung

I've been refactoring and making some improvements and it seems I forgot to change that particular function.
In any case, please redownload Mantis and it should now work.
Please keep in mind sequence IDs such as `>seq1 # 4012 # 4944 # 1 # ID=1_6;partial=00;start_type=ATG;rbs_motif=None;rbs_spacer=None;gc_cont=0.666` are converted to `>seq1`.
This is done to save memory and to avoi

[2021-11-26 02:40] mhyleung commented on #32
Hi Pedro

Thanks for the message. I have removed and reinstalled mantis. Actually same as last time, I ran the test, and it gave

[code]

So what I did, as I did last time, was to download gc.prt manually using `wget ftp.ncbi.nih.gov/entrez/misc/data/gc.prt` into the Resources/NCBI directory , and the test ran fine afterwards, but a different error came back after I do actual run:

[code]
Could th

[2021-11-26 06:34] PedroMTQ commented on #32
Hello Marcus,

Thanks for notifying me on the gc.prt issue. I fixed the link now so it should download fine during setup.
Regarding your second issue, it seems you are having issues with your metadata SQL database. I can't reproduce this error locally so I added some new code to check the database for errors.
Could you please download the new mantis version and run `check_sql` ? Please report the

[2021-11-26 08:50] mhyleung commented on #32
Thanks Pedro as always! I am going to set up my database first then run check_sql to see what the matter is. Cheers :)

M

[2021-11-28 01:17] mhyleung commented on #32
Hi Pedro

Just wondering where the check_sql command would be? I am trying to run that now. Thanks

Marcus

[2021-11-28 08:48] PedroMTQ commented on #32
Hello Marcus,
You would run that command instead of running the other ones like run_mantis or setup_databases.

[2021-11-28 11:50] PedroMTQ commented on #32
Hello Marcus,

I forgot to add the option to run into when executing mantis (my bad). Could you please redownload the source code and try to run `check_sql` as you would with `run_mantis` or `setup_databases`?
I dont know if you did in the past, but no need to run setup_databases again, just update the `__main__.py` file and the files in the `source` folder.

Regards,
Pedro

[2021-11-29 14:20] mhyleung commented on #32
Hi Pedro. I am running the check_sql command now. It appears that some of the verbose messages were in yellow and some in white. For example:

Checking /my_path/tools/mantis/References/NCBI/28211/metadata.db (this was in yellow)
Checking /my_path/tools/mantis/References/NCBI/43080/metadata.db (this was in yellow)
Checking /my_path/tools/mantis/References/NOG/4447/metadata.db (this was in yellow)
C

[2021-11-29 14:25] PedroMTQ commented on #32
Hello Marcus,
Yes, the yellow lines are the output from check_sql, the white lines correspond to the creation of these SQL databases.  Since these are only created when you use the corresponding reference, you are seeing them now as you ran check_sql.
Anyway, keep me posted.

Regards,
Pedro

[2021-12-05 21:49] PedroMTQ commented on #32
Hello Marcus,

Could you please let me know if this issue was resolved?

Regards,
Pedro

[2021-12-06 02:05] mhyleung commented on #32
Hi Pedro

For some reason my chcek_SQL command is still running after 5 days! It has been very slow but it's running so I am just going to leave it running for now. I shall let you know when it is done. Thanks

Marcus

[2021-12-06 14:57] PedroMTQ commented on #32
Hello Marcus,
That is a bit strange, it has never taken me that long. Is the command still displaying "checking ****/metadata.db"? But I guess depending on your system it's possible, since the `check_sql` is quite comprehensive (i.e., checks all metadata entries).
I have recently added indexation to the SQL databases so it should be a lot faster to fetch information from it.
If you'd like you coul

[2021-12-07 01:37] mhyleung commented on #32
Hey Pedro

Alright. I will try again and let you know.

M

[2021-12-07 08:33] mhyleung commented on #32
ok that was indeed magnitudes faster :). I have already set up the databases, and my check_SQL command seemed to be alright. I shall do a trial run of my small sample now. Keep you updated!

M

[2021-12-07 14:10] mhyleung commented on #32
Hi Pedro

I believe the output ran alright, with the following output files?

[code]

Cheers

Marcus

[2021-12-07 14:24] PedroMTQ commented on #32
Hey Marcus,

Glad to hear that. Yes, those are the output files. There's also a few other output files you could generate, but this depends on what kind of analysis you want to do. Anyway, if you are curious please check the [wiki](https://github.com/PedroMTQ/mantis/wiki/Output) where I describe those and also the default output files.

Regards,
Pedro

[2021-12-07 15:32] PedroMTQ opened #33 "reduce RAM consumption during metadata extraction for NOG"
NOG metadata is consuming too much RAM.
Try to make it more efficient or reduce the number of workers (check how much RAM is needed per worker)

[2021-12-07 15:33] #32 closed, assigned to nobody

[2021-12-07 15:46] VGalata opened #34 "Setup process running out of memory and spawning too many processes"
Mantis seems to spawn more processes than available cores and to run out of memory during the setup step.
I ran it with 5 cores and 20 Gb, and during the metadata extraction with 5 works the job spawned even more sub-processes and crashed. The error message from the `slurm` job was "out of memory".

I will try to run the job with 12 cores and 48 Gb to see whether the memory issue will appear again

[2021-12-08 06:28] VGalata commented on #34
## Update

The setup step worked with 12 cores and 48 Gb. Here is the `slurm` output for the job:
[code]

The actual runtime:
[code]

The log output was almost the same as before, here is the part which was not there in the previous run because of the crash:
[code]

[2021-12-08 12:42] PedroMTQ commented on #34
Thank you @VGalata .
I will look into this.
Regards,
Pedro

[2021-12-09 22:08] PedroMTQ commented on #33
its actually the create_fasta_DMND
im already using a generator for the seqs and metadata lines
could it be that diamond is using too much memory when running makedb?
need to test with new commit

[2021-12-10 08:23] VGalata opened #35 "Potentially wrong GFF format"
Hey @PedroMTQ,

I think that the GFF format of the output files is not completely correct (which I have unfortunately not noticed before):

- the sequence-regions in the header should be contig IDs and not IDs of the features
- the 1st column ("seqid") should contain the contig ID and not the feature ID
- the 9th column ("attributes") should contain the feature ID, i.e. `ID=<feature ID>;...`

For

[2021-12-10 10:41] PedroMTQ commented on #35
Hello Valentina,
Indeed, the GFF is not per contig but per sequence.
I'll add a note to the wiki mentioning this.

Regards,
Pedro

[2021-12-10 11:56] #35 closed, assigned to nobody

[2021-12-10 19:07] iquasere opened #36 "Use NOG database with DIAMOND"
Greetings!

I have not found these informations anywhere, so will ask here:
1. How can I setup a NOG database for use with DIAMOND inside mantis' workflow? By default it seems to get HMMs only, but my system cannot handle the HMM version of NOG because of the size. I have tried using the [refdb_generator](https://github.com/PedroMTQ/refdb_generator), but it only has documentation for HMMs.
2. 1e-3

[2021-12-11 11:25] PedroMTQ commented on #36
Hello @iquasere ,

Regarding your questions:
-Mantis supports Diamond since v1.1. I believe this is in the wiki, but please let me know if I should further highlight this. When you run `setup_databases`, Mantis will now generate a diamond database instead of using the HMMs (this is a feature we recently added). This is the default behavior but both options are available, it just depends how you se

[2021-12-13 14:46] iquasere commented on #36
Thank you, Pedro, for your answers, I see the ```MANTIS.config``` file now has a default value for the NOG database.

I have encountered an error with the ```setup_databases``` command, however. Following the [quick configuration](https://github.com/PedroMTQ/mantis#quick-configuration), when running the command ```python mantis setup_databases```, I encountered the following error:
[code]
This is

[2021-12-14 01:28] jolespin opened #37 "Can this be used to get consensus annotations for an ortholog/orthogroup?"
Let's say we have 3 proteins that get clustered together in an ortholog analysis. They all have very similar but slightly different annotations. Can this tool pick a consensus annotation? If so, what is the best way to do this on the program?

[2021-12-14 10:01] iquasere commented on #36
Yup, it finishes successfully! ^^

[2021-12-15 08:55] PedroMTQ commented on #36
Hello @iquasere

Sorry for the delay. I'm glad you fixed it yourself, I had done some refactoring and I must have missed that.
Anyway, let me know if you have any more questions, otherwise I'll close the issue.

Regards,
Pedro

[2021-12-15 09:02] PedroMTQ commented on #37
Hello @jolespin,
Mantis checks for the consensus of annotations per protein. So, in your scenario this is not something that could be done natively by Mantis.
I did create another [tool](https://github.com/PedroMTQ/UniFunc) that could help with this, it is used by Mantis to do some a similarity analysis of the annotations. In your case, I believe you would only have to assess the similarity of the

[2021-12-15 15:01] jolespin commented on #37
Thanks for the suggestion. You're doing some really interesting work with applying NLP to biological data! This might be a bit tricky to use in my case because it wants the protein sequences as input strings. Some of the orthogroups have 100 or so proteins and some of the proteins are pretty long for commandline. This would also take a very long time to run these commands pairwise. Is there a func

[2021-12-15 15:13] PedroMTQ commented on #37
Hello @jolespin
Thank you for the feedback!
I'm a bit confused with what you mean by " it wants the protein sequences as input strings". The input for UniFunc is actually a pair of strings such as "this protein degrades glucose".
Regarding runtime, yes, it might take a bit longer for larger clusters, but this would probably be a matter of testing it a bit and perhaps doing some pre-processing befo

[2021-12-15 15:34] jolespin commented on #37
Oh!! Ok, I misunderstood the input strings. I thought those strings were the actual protein sequences and not the annotations. This makes more sense now.

Yes, the suggestion you made about the tab input would be really useful. One more feature that could be useful would be to put lower weight on strings that had specific phrases such as "hypothetical protein", "predicted protein", "low quality",

[2021-12-15 16:06] PedroMTQ commented on #37
Hello @jolespin,

Yes, UniFunc already gives lower weight to those sort of annotations. But maybe you could give me a list so that I could cross-check with my implementation? ATM I only included things I routinely saw when I was analyzing functional annotations but I might have missed a few.
Yes, sure the similarity score can be included.

Actually, it would be useful to have a sample input with e

[2021-12-15 19:53] #36 closed, assigned to nobody

[2021-12-15 19:53] PedroMTQ commented on #27
Done

[2021-12-15 19:53] #27 closed, assigned to PedroMTQ

[2021-12-15 19:54] PedroMTQ commented on #7
gff added.
consider re-opening if user makes more requests

[2021-12-15 19:54] #7 closed, assigned to PedroMTQ

[2021-12-15 21:44] jolespin commented on #37
Apologies for the delay, I had to clean up the formatting a bit.

Here's a subset of my data:
[gene_orthogroup_annotation.tsv.gz](https://github.com/PedroMTQ/mantis/files/7722835/gene_orthogroup_annotation.tsv.gz)

Format:
`[GeneID]<tab>[OrthogroupID]<tab>[Annotation]`

It contains:
* 461619 genes
* 46823 orthogroups
* 102018 missing annotations

Not sure what your thoughts were for output but off

[2021-12-16 09:00] PedroMTQ commented on #37
Hello @jolespin

I will add this to my to-do list. Give me a few days to implement it and I'll get back to you.

Regards,
Pedro

[2021-12-16 18:36] jolespin commented on #37
Please let me know if you need a smaller list of proteins or anything else.

[2021-12-17 14:41] PedroMTQ commented on #37
Hello @jolespin

I'm implementing this atm. Just some questions:
1- How do you want to deal with missing annotations? Ignore them completely ? This might give a false perception of the score of the most representative score if most clusters are lacking an annotation.
2- How do you want to deal with hypothethical proteins with some sort of ID, e.g.,hypothetical protein FRACYDRAFT_204728?  These IDs

[2021-12-17 15:46] jolespin commented on #37
Thanks for looking into this.

This is tricky and you bring up an excellent point. I think including them in the weights but not in the annotation. For example, there are 3 proteins in a cluster. Two of them point to protein A and one of them has no annotation. I think the most appropriate way to not inflate the score would be to treat the unannotated as a hypothetical and include it in the weight

[2021-12-18 14:07] PedroMTQ commented on #36
Hello @iquasere
In the end, did you manage to use the refdb_generator repo? I've only tested them locally, so I would be interested to know if other people successfully used them.

Regards,
Pedro

[2021-12-20 09:47] PedroMTQ commented on #37
Hello @jolespin

I've more or less implemented it. Feel free to check it out at:
https://github.com/PedroMTQ/UniFunc/tree/main/Workflows/Representative_function

You should test it and check if there's anything that needs to changed in the methodology. I also haven't benchmarked the methodology nor thoroughly checked the results, but I leave that to you as you probably have more expertise on that

[2021-12-20 11:32] iquasere commented on #36
No, I only ran ```setup_databases``` as described in base usage

[2021-12-20 12:08] PedroMTQ commented on #36
Ah ok, since you mentioned the repo I thought you were planning on using one of those additional databases.

\Pedro

[2021-12-20 22:39] jolespin commented on #37
I'm having trouble running the script and putting UniFunc in my path:

[code]

[2021-12-21 08:14] PedroMTQ commented on #37
Hello @jolespin ,

I added the argparser to make it easier to run.
Now it should be fine when you try to run it using:
`python UniFunc/Workflows/Representative_function/Cluster_Representative_Function.py -h`

Regards,
Pedro

[2021-12-25 17:05] jolespin commented on #37
Is it possible to add these scripts and UniFunc into my conda bin? I haven't seen this type of directory structure where there isn't a unifunc script I could symlink. Is it pip installable?

[2021-12-30 11:50] PedroMTQ commented on #37
Hello @jolespin
Sorry for the delay.
ATM UniFunc is not installable with pip, I'm working on making it conda installable but I can't make it a priority on my to-do list (maybe I'll manage in the next few weeks).
In the meantime, you can call it by just using `python path/to/.py -args`

Regards,
Pedro

[2022-01-03 10:31] iquasere commented on #36
Hi there! Regarding the ```quality_benchmark.py``` script from the scripts of the mantis paper, I was wondering how do you use the ```alignment_prokka.m8``` after it is obtained? I don't see reference to it anywhere in the following lines of the script, and would like to know how you handled wrong DIAMOND assignments (i.e. when you obtain less unique ```sseqids``` than ```qseqids``` because DIAMON

[2022-01-03 10:52] PedroMTQ commented on #36
Hello @iquasere

Check the `read_alignment_output` function.

Regards,
Pedro

[2022-01-05 10:52] iquasere opened #38 "How to run custom database"
I have a local copy of uniprot in DMND format at ```path/to/uniprot.dmnd```. I'm trying to get mantis to annotate with it using this config
[code]
Running ```python mantis run_mantis -i ann_paper/genes_trimmed.fasta -o ann_paper/mantis_genomes -c 15``` gets me
[code]

[2022-01-05 10:56] #37 closed, assigned to nobody

[2022-01-05 12:33] PedroMTQ commented on #38
Hello @iquasere,

Could you try using the latest version? I believe this has been fixed.
I also just fixed a few other issues I found.

Btw, when you set the weight, it should be `uniprot_weight=0.5` and not `path/to/uniprot_weight=0.5`

Anyway, sorry for the inconvenience.

Regards,
Pedro

[2022-01-20 16:47] PedroMTQ opened #39 "[urgent] Bug in 'resources' folder path"
'resources' is not being used for taxonomy.db so setup doesnt finish.

v1.4.5
reproducible when running with `-mc mantis.cfg` and config file has uncommented `resources_folder=folder_path`

[2022-01-21 14:29] PedroMTQ commented on #39
removed 'resources_folder'. it only contains about 376mb

[2022-01-21 14:30] PedroMTQ commented on #38
Hello @iquasere ,

I believe this has been fixed, I will close the issue, please feel free to reopen if you encounter this issue with the current version.

Regards,
Pedro

[2022-01-21 14:30] #38 closed, assigned to nobody

[2022-01-27 17:42] jolespin commented on #37
![image](https://user-images.githubusercontent.com/9061708/151413748-570f5038-6ff4-40fd-a11b-4fc8fcb24f35.png)

Not sure if you would prefer I mention this here or on UniFunc's repo but I noticed that the `rep_func_cluster.tsv` includes multiple hits for some of the groups (e.g., orthogroups).

What happens in this type of edge case? Could it be faulty input or should the highest score be taken ea

[2022-01-28 07:11] PedroMTQ commented on #37
Hello @jolespin
Well, this is actually intended behavior, seeing that I implemented it so that we check for similar functions and we output functional clusters that are above a certain threshold.
In those cases they are highly similar and since the cluster could be represented by either, I decided to just output both.

However, what I could do is go one step further and check which tokens in your

[2022-01-28 08:25] PedroMTQ commented on #37
Implemented in added v1.4.2

[2022-01-31 23:46] jolespin commented on #37
I've updated to v1.4.2 but now get an error:

[code]

[2022-02-01 07:13] PedroMTQ commented on #37
Hello,

Sorry about that, I forgot to add some code from my local testing.

Anyhow, v1.4.3 should have it, please wait just for a few hours for conda-forge CI to add the new packaged version

Regards,
Pedro

[2022-02-01 20:46] jolespin commented on #37
Looks like it's up now:
https://anaconda.org/conda-forge/unifunc

All looks good to go! I just ran it on my dataset. Thank you.

[2022-02-01 21:11] PedroMTQ commented on #37
Great. No worries

[2022-02-03 13:38] a-h-b opened #40 "conda install finds (?) incompatibilities"
Hi Pedro -
I can't get the conda install to work. If I create new environment and let try to install conda, I get
[code]
If I create the the conda environment with the dependencies in mantis.yaml, I get
[code]

Any pointers?
Thanks -AHB

[2022-02-03 13:54] PedroMTQ commented on #40
Hi @a-h-b

I'm not entirely sure about this since I never encountered this error.
But I found some information, e.g.:
https://stackoverflow.com/questions/66726830/conda-glibc-dependency-conflict

Could you run `conda config --show channels` and `conda info` and paste the outputs here?

Another likely possibility is that you need to upgrade your `glibc` library (my freshly installed `mantis_env` us

[2022-02-04 07:11] a-h-b commented on #40
Hi Pedro -
yes thanks, turns out I didn't have conda-forge in my channels. With that, it works nicely.
-AHB

[2022-02-04 07:48] #40 closed, assigned to PedroMTQ

[2022-02-14 13:43] #25 closed, assigned to PedroMTQ

[2022-02-15 10:04] PedroMTQ opened #41 "binny enhancements"
- notify if metadata.tsv is not available but dont fail check
- remove download of taxonomy dbs

[2022-02-15 10:42] PedroMTQ commented on #41
add relative paths to all paths

[2022-02-15 14:53] PedroMTQ commented on #41
fix typo when not using taxonomy

[2022-02-15 16:23] ohickl commented on #41
Metadata should handle empty tsv
[code]

[2022-02-15 16:25] ohickl commented on #41
[code]

[2022-03-01 14:41] #41 closed, assigned to nobody

[2022-03-01 14:44] PedroMTQ opened #42 "add resources to config"
Taxonomy_SQLITE_Connector.__init__(self,resources_folder=self.mantis_paths['resources'])

should come after reading config

right before:
        if self.use_taxonomy:
            if nogt_line:
                if self.launch_taxonomy_connector():
                    self.set_nogt_line(nogt_line)

[2022-03-01 15:40] PedroMTQ commented on #42
check reproducibility issues

[2022-03-01 15:44] PedroMTQ commented on #42
there seems to be issues in consensus generation

[2022-03-07 09:07] PedroMTQ commented on #42
done

[2022-03-07 09:07] #42 closed, assigned to nobody

[2022-06-30 22:15] alxsimon opened #43 "mantis setup issue"
Hi,

I am running into an issue and unfortunately I can't pinpoint where the problem is as there is no useful error message in that case.

The `mantis setup` is ending before the end with an error.
Here is the last two lines of the log (I cut the full path):
[code]

Using Mantis v1.5.4 installed through bioconda

There is no obvious fault, space on disk is fine, memory too.
Let me know how I can t

[2022-07-01 07:18] PedroMTQ commented on #43
Hello @alxsimon
I will look into this over the weekend and will get back to you as soon as possible.

Regards,
Pedro

[2022-07-01 19:31] jblakele opened #44 "Issue with Mantis Setup"
Hi,

I am trying to install mantis on my labs server. The conda install went fine but the setup step did not work. Could you help me with this?

I run: mantis setup

Then get the following string of text. It looks like it's getting hung up at the downloading eggNOG step. I was able to download eggnog.db.gz separately, none of the other references were downloaded. Is it possible to set this up outs

[2022-07-02 15:18] PedroMTQ commented on #44
Hello @jblakele
I have tried to run this on my machine and the download seems to be working fine, could you please try to run the setup again but just with the NOG database?

Please change your MANTIS.cfg file so that the other databases are deactivated, like so:
pfam_ref_folder=NA
kofam_ref_folder=NA
tcdb_ref_folder=NA
ncbi_ref_folder=NA

Please make sure you have enough space in the folder you a

[2022-07-02 15:53] PedroMTQ commented on #43
Hello @alxsimon
I have tried to run this on my machine and the unpacking seems to be working fine, could you please try to run the setup again but just with the kofam database?

Please change your MANTIS.cfg file so that the other databases are deactivated, like so:
pfam_ref_folder=NA
nog_ref_folder=NA
tcdb_ref_folder=NA
ncbi_ref_folder=NA

Keep in mind the kofam servers have a quite low download

[2022-07-05 22:17] alxsimon commented on #43
Thanks for checking @PedroMTQ

Seems the unpacking is now working (don't know what was going on).

But I am now running into another issue which I can pinpoint to the tcdb database:
[code]

(Other databases seem to work on their own).

I don't think I have any network restrictions to access this website, it might be down on their side I don't know.
Tried the test function in this comment https://g

[2022-07-06 05:28] PedroMTQ commented on #43
Hello @alxsimon
It seems Uniprot changed their API so I had to update the calls Mantis makes.

In any case, this should be fixed now in version 1.5.5.

I'm in the process of updating the recipe in bioconda (1.5.4->1.5.5), and it should be available within 1 or 2 days.

Thanks!
Pedro

[2022-07-06 16:57] alxsimon commented on #43
Oh right, sorry didn't notice the version mismatch between github and bioconda.
Thanks for the quick fix!

[2022-07-06 16:57] #43 closed, assigned to PedroMTQ

[2022-07-11 13:00] ekg opened #45 "setup gets stuck"
On two very different systems I'm getting stuck at the same place in the setup.

[code]

The setup process simply hangs. On my laptop, I had to kill it. But, on a remote server I'll wait to see if it progresses. Nothing is running as far as htop says and no data is being written.

[2022-07-11 14:22] PedroMTQ commented on #45
Hello @ekg
I'm not entirely sure what the issue could be as this is only a concatenation method.

1. What OS are you using in your systems?
2. Is `986_merged.hmm` not being written at all?
3. Could you perhaps have some permission issues?
4. When you killed the process on your laptop, what was the traceback?

Regards,
Pedro

[2022-07-11 14:57] ekg commented on #45
The remote system is a debian one in [octopus](https://github.com/genenetwork/gn-docs/blob/master/general/help/facilities.md#octopus-hpc-cluster), while the local one is a Ryzen laptop. So they have in common the fact that they are recent AMD systems. Otherwise, they couldn't be less similar up to the point that they're both debian-based (the laptop runs Ubuntu 22.04 (linux 5.18), the server is pr

[2022-07-11 15:24] PedroMTQ commented on #45
What do you mean by `The remote one has progressed. But, it seems very strange that nothing is happening`?
The HMM for taxa id 986 is also pretty small, so I'm not sure why it would take that long.

The code for concatenation is pretty simple as well:
[code]
It might be that the flushing or fsync is causing hanging, but I'm not sure why that would be the case.
At the moment I don't have time to di

[2022-08-06 10:11] PedroMTQ commented on #6
closing since I'm no longer actively developing Mantis

[2022-08-06 10:11] #6 closed, assigned to PedroMTQ

[2022-08-06 10:11] PedroMTQ commented on #18
closing since I'm no longer actively developing Mantis

[2022-08-06 10:11] #18 closed, assigned to PedroMTQ

[2022-08-06 10:12] PedroMTQ commented on #33
closing since I'm no longer actively developing Mantis

[2022-08-06 10:12] #33 closed, assigned to PedroMTQ

[2022-08-26 12:04] susheelbhanu opened #46 "Installation: Unsatisfiable error"
Hey @PedroMTQ

The current installation instructions might need to be updated. Pulling the tool using `conda install -c bioconda mantis_pfa` was throwing `Unsatisfiable errors`.

Replacing it with `conda install -c conda-forge -c bioconda mantis_pfa` seems to work.

Thanks!